.footerTop {
    background-image: url(../assets/images/footer-bg.jpg);
    background-size: cover;
}

.container {
    display: flex;
    background-image: url(../assets/icons/dc-logo-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.list {
    padding-top: 16px;
    padding-bottom: 50px;
    padding-right: 50px;
    color: var(--text-secondary);
    font-size: 12px;
}

.list h3 {
    color: var(--text-primary);
    text-transform: uppercase;
    padding: 16px 0;
    font-size: 16px;
}

.footerBottom {
    background-color: var(--bg-light-black);
    color: var(--text-primary);
    height: 120px;
}

.footerBottomContainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}


.btn a {
    padding: 15px;
    border: 2px solid var(--dc-blue);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.15s ease-out;


}

.btn a:hover {
    background-color: var(--dc-blue);
    transition: 0.15s ease-in;
    text-decoration: none;
}

.social {
    display: flex;
    align-items: center;
}

.social h3 {
    text-transform: uppercase;
    color: var(--dc-blue);
    font-size: 16px;
    padding-right: 30px;

}

.social ul {
    display: flex;
    gap: 20px;
}