.header {
    height: var(--header-height);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logoImg {
    width: 80px;
}

.navList {
    display: flex;
    gap: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.navItem {
    height: var(--header-height);
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--bg-white);
    border-top: 5px solid var(--bg-white);
}

.navItem:hover {
    color: var(--dc-blue);
    border-bottom: 5px solid var(--dc-blue);
    transition: 0.15s ease-in;
    cursor: pointer;
}

.navItem a {
    text-decoration: none;
}