/* HERO SECTION */

.hero {
    background-color: var(--bg-dark-black);
    color: var(--text-primary);
}

.heroImg {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.heroTitle {
    width: fit-content;
    color: var(--text-primary);
    font-size: 21px;
    padding: 16px 32px;
    background: var(--dc-blue);
    text-transform: uppercase;
    position: relative;
    top: -34px;
}

.comics ul {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    justify-items: center;
}

.comics li {
    width: 90%;
    max-width: 220px;
}

.comics ul img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
}

.comics ul span {
    display: block;
    padding-top: 20px;
    padding-bottom: 50px;
}

.buttonContainer {
    padding-bottom: 20px;
    text-align: center;
}

.buttonContainer button {
    padding: 13px 60px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: var(--dc-blue);
    color: var(--text-primary);
    border: 0;
    font-weight: 700;
    transition: 0.15s ease-out;

}

.buttonContainer button:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--dc-blue-hover);
    transition: 0.15s ease-in;
}

/* BUY COMICS SECTION */

.buyComics {
    background-color: var(--dc-blue);
    color: var(--text-primary);
}

.buyComics ul {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.buyComics img {
    display: inline;
    height: 54px;
    max-width: 54px;
    vertical-align: middle;
    margin-right: 14px;
}

.buyComics span {
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
}